<footer class="home-footer footer">
    <div class="home-footer-container">
        <div class="home-footer-brand">
            ViecLamGame &copy; 2021
        </div>

        <div class="home-footer-contact pr-5">
            <a href="https://discord.com/invite/9PPRYQM7VZ" target="_blank" class="button social is-light is-medium"><i class="pi pi-discord"></i></a>
            <a href="https://www.linkedin.com/company/74354521/admin/" target="_blank" class="button social is-light is-medium"><i class="pi pi-linkedin"></i></a>
            <a href="https://www.facebook.com/Vieclamgamechamcom" target="_blank" class="button social is-light is-medium"><i class="pi pi-facebook"></i></a>
        </div>
    </div>
</footer>