<div class="d-flex justify-content-center pt-2">
  <h1 class="animated">Welcome to Book Management</h1>
</div>

<div class="container animated">
  <p>
    Whether you're an avid reader, a student, or a book collector, our book
    management system is here to make your life easier. With our user-friendly
    interface, you can easily catalog, track, and explore your entire book
    collection. Say goodbye to disorganized shelves and endless searching – it's
    time to take control of your books.
  </p>

  <p>Key Features:</p>

  <ul>
    <li>
      Effortlessly catalog your books, including title, author, genre, and more.
    </li>
    <li>Track your reading progress and set reading goals.</li>
    <li>Discover new books and recommendations based on your preferences.</li>
    <li>Connect with fellow book enthusiasts and share your favorite reads.</li>
  </ul>

  <a [routerLink]="['/books']" class="btn">Get Started</a>
</div>
