<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow custom-navbar"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img class="logo" src="../../../assets/imgs/Logo.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex align-items-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          *ngFor="let classification of classifications"
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ classification.typeName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let item of classification.items">
              <a
                class="dropdown-item"
                href="#"
                (click)="
                  searchClassification({
                    type: classification.type,
                    id: item.id
                  })
                "
                >{{ item.name }}</a
              >
            </li>
          </ul>
        </li>

        <li *ngIf="isAdmin || isEmployer" class="nav-item">
          <a class="nav-link" [routerLink]="['/tin-tuyen-dung']"
            >Tin tuyển dụng</a
          >
        </li>

        <ng-container *ngIf="isCandidate || isAdmin || isEmployer">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ung-tuyen']"
              >Ứng tuyển</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/yeu-thich']">Yêu thích</a>
          </li> -->
        </ng-container>

        <ng-container *ngIf="isAdmin">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/nha-tuyen-dung']"
              >Nhà tuyển dụng</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ung-vien']">Ứng viên</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bai-dang-blog']"
              >Bài đăng Blog</a
            >
          </li> -->
        </ng-container>
      </ul>
      <div class="d-flex">
        <!-- <a class="nav-link m-2" [routerLink]="['/blog']">Blog</a> -->

        <a
          *ngIf="isUserAuthenticated && user"
          [routerLink]="['/profile']"
          class="nav-link m-2"
        >
          <i class="pi pi-user"></i> Hi {{ user.fullname }}!
        </a>

        <a
          *ngIf="!isUserAuthenticated"
          type="button"
          [routerLink]="['/dang-ky']"
          class="btn btn-sm btn-warning m-2"
        >
          <i class="pi pi-user-plus"></i> Đăng ký
        </a>

        <a
          *ngIf="!isUserAuthenticated"
          type="button"
          [routerLink]="['/dang-nhap']"
          class="btn btn-sm btn-danger m-2"
        >
          <i class="pi pi pi-sign-in"></i> Đăng nhập
        </a>

        <button
          *ngIf="isUserAuthenticated"
          type="button"
          class="btn btn-sm btn-danger"
          (click)="logout()"
        >
          <i class="pi pi-sign-out"></i> Đăng xuất
        </button>
      </div>
    </div>
  </div>
</nav>
