<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="{{ user?.avatarFileName | imageUrl }}"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 200px; height: 200px;object-fit: cover; border-radius: 50%;"
              />
              <h3>{{ user?.fullname }}</h3>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h3>Thông tin chung</h3>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ user?.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Số điện thoại</h6>
                    <p class="text-muted">{{ user?.phoneNumber ?? 'N/A'}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Facebook</h6>
                    <p class="text-muted">{{ user?.facebook ?? 'N/A'}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>LinkIn</h6>
                    <p class="text-muted">{{ user?.linkdIn ?? 'N/A'}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Website</h6>
                    <p class="text-muted">{{ user?.website ?? 'N/A'}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Địa chỉ</h6>
                    <p class="text-muted">{{ user?.address ?? 'N/A'}}</p>
                  </div>
                </div>
                <h3>Giới thiệu</h3>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-12 mb-3" [innerHTML]="user?.description ?? 'N/A'">
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
