.hot-star-skill {
  color: #000;
  background-color: yellow;
  border-radius: 290486px;
  padding: 3px 8px;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ddd;
  margin-right: 0.5rem;
}
