<div class="container job-detail px-5">
  <div class="d-flex justify-content-end pb-3">
    <button *ngIf="canHide()" (click)="hide()" class="btn btn-warning me-2">
      <i class="pi pi-send"></i> Gỡ tin
    </button>

    <button *ngIf="canSubmit()" (click)="submit()" class="btn btn-warning me-2">
      <i class="pi pi-send"></i> Trình đăng
    </button>
    <button
      *ngIf="canApprove()"
      (click)="displayApprove()"
      class="btn btn-success me-2"
    >
      <i class="pi pi-check"></i> Duyệt đăng
    </button>
    <button *ngIf="!isPreview" (click)="back()" class="btn btn-light">
      <i class="pi pi-undo"></i> Quay lại
    </button>
    <a
      *ngIf="isPreview"
      [routerLink]="['/tin-tuyen-dung']"
      class="btn btn-light"
    >
      <i class="pi pi-undo"></i> Quay lại
    </a>
  </div>

  <div *ngIf="job" class="row body">
    <div class="col-md-9 col-sm-8 job-info">
      <div class="current-job">
        <div class="title-tags">
          <div class="title">
            <div class="content">
              {{ isPreview ? "(PREVIEW)" + job.title : job.title }}
            </div>
            <div *ngIf="job.isHotJob" class="hot">
              <div class="hot-star">
                <i class="pi pi-star"></i>
              </div>
              <div class="hot-content">Hot Job</div>
            </div>
          </div>

          <div class="date-other">
            <div class="created-date">
              Posted:
              <span class="font-weight-bold">{{ job.createdDate | date }}</span>
            </div>

            <div *ngIf="!!job.categoryNames" class="hot-star">
              <i class="pi pi-tags"></i>
              {{ job.categoryNames }}
            </div>

            <div *ngIf="job.salary" class="hot-star">
              <i class="pi pi-dollar"></i>
              {{ job.salary }}
            </div>

            <div *ngIf="job.jobTypeNames" class="hot-star">
              <i class="pi pi-hourglass"></i>
              {{ job.jobTypeNames }}
            </div>

            <div *ngIf="job.locationNames" class="hot-star">
              <i class="pi pi-map-marker"></i>
              {{ job.locationNames }}
            </div>
          </div>

          <div class="skills" style="display: flex; cursor: pointer">
            <div *ngFor="let skill of job.skills" class="hot-star mr-1">
              {{ skill.code }}
            </div>
          </div>

          <hr />

          <div class="description">
            <div class="title">Giới thiệu</div>
            <div class="content" [innerHTML]="job.introduction"></div>
            <div class="title">Mô tả</div>
            <div class="content" [innerHTML]="job.description"></div>
            <div class="title">Yêu cầu</div>
            <div class="content" [innerHTML]="job.requirement"></div>
            <div class="title">Quyền lợi</div>
            <div class="content" [innerHTML]="job.interests"></div>
          </div>

          <div class="apply-button-container">
            <!-- <button
              *ngIf="
                candidate.alreadyWhishedList || isPreview;
                else notInWhishedList
              "
              class="btn btn-success me-1"
              disabled
            >
              <i class="pi pi-heart"></i>
              Yêu thích
            </button>

            <ng-template #notInWhishedList>
              <button
                (click)="like()"
                type="submit"
                class="btn btn-success me-1"
              >
                <i class="pi pi-heart"></i>
                Yêu thích
              </button>
            </ng-template> -->

            <button
              *ngIf="candidate.alreadyApply || isPreview; else notApply"
              class="btn btn-danger"
              disabled
            >
              Đã ứng tuyển
            </button>

            <ng-template #notApply>
              <a *ngIf="user?.isCandidate()" [routerLink]="['/ung-tuyen','thao-tac',job.id,0]" class="btn btn-danger">
                <i class="pi pi-send"></i> Ứng tuyển
              </a>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="related-jobs related-jobs-full">
        <app-job-related-list *ngIf="job" [id]="job.id"></app-job-related-list>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 employer-info-container">
      <div class="employer-info">
        <div class="image">
          <img src="{{ creator.employerAvatar | imageUrl }}" />
        </div>
        <div class="company-name">
          <a [routerLink]="['/nha-tuyen-dung', job.id]">
            {{ creator.employerFullname }}
          </a>
        </div>
        <div class="web-site" style="display: block">
          <a href="{{ creator.employerWebsite }}" target="_blank"
            ><i class="pi pi-globe"></i>&nbsp;Website</a
          >
        </div>
        <div class="address" style="display: block">
          <i class="pi pi-map"></i>&nbsp;{{ creator.employerAddress }}
        </div>
        <div class="number-of-job" style="display: block">
          <i class="pi pi-briefcase"></i>&nbsp;Đã đăng
          {{ creator.totalOfJob }} bài
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Duyệt đăng tin tuyển dụng"
  [(visible)]="showApprove"
  [modal]="true"
  [closable]="true"
  (onHide)="closeApprove()"
  [style]="{ width: '500px' }"
>
  <div class="form-group mb-2">
    <label for="fromDate">Ngày bắt đầu:</label>
    <p-calendar
      id="fromDate"
      name="fromDate"
      [(ngModel)]="approveModel.fromDate"
      [showIcon]="true"
      appendTo="body"
    ></p-calendar>
  </div>

  <div class="form-group mb-2">
    <label for="duration">Số ngày hiển thị:</label>
    <input
      type="number"
      id="duration"
      name="duration"
      [(ngModel)]="approveModel.duration"
      class="form-control"
      required
    />
  </div>

  <div class="form-check mb-2">
    <input
      type="checkbox"
      id="isHotJob"
      name="isHotJob"
      [(ngModel)]="approveModel.isHotJob"
      class="form-check-input"
    />
    <label for="isHotJob" class="form-check-label">Is Hot job</label>
  </div>

  <div class="ui-dialog-buttonpane p-clearfix d-flex justify-content-end">
    <button
      class="btn btn-default me-2"
      type="button"
      pButton
      icon="pi pi-times"
      (click)="closeApprove()"
      label="Bỏ qua"
    ></button>
    <button
      class="btn btn-success"
      type="button"
      pButton
      icon="pi pi-check"
      (click)="approve()"
      label="Duyệt"
    ></button>
  </div>
</p-dialog>
