.autocomplete-container {
  display: flex;
  justify-content: center;
}

.autocomplete-dropdown {
  width: 200px !important;
  margin-right: 1rem;
}

.autocomplete-input {
  width: 400px;
  margin-right: 1rem;
}

.ng-select.autocomplete-input ::ng-deep .ng-select-container {
  height: 100% !important;
}

.ng-select.autocomplete-input ::ng-deep   .ng-value-container div
{
  padding-top: 6px;
}

.autocomplete-button {
  width: 100px;
}
